---
import '@fontsource-variable/onest';
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/iconPrincipal.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio Yasve</title>
	</head>
	<body>
		<div
  			class="fixed top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
		></div>
		<Header/>
		<slot/>
		<footer class="bg-[#00091d] text-gray-400 text-center py-4 mt-8 border-t border-gray-700">
			<p>Desarrollado por <span class="text-yellow-400">sbg.dev</span> en el año <span class="text-yellow-400">© 2025</span></p>
		</footer>
	  </body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		scroll-behavior: smooth;
		font-family: 'Onest Variable', system-ui, sans-serif;
	}

	body {
		flex-direction: column;
		background: #050505;
		display: flex;
		justify-content: center;
		min-height: 100vh;
	}

	footer {
		font-size: 0.875rem; /* Texto ligeramente pequeño */
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
